pipeline/watermark_with_files.json
{
	"name": "watermark_with_files",
	"properties": {
		"activities": [
			{
				"name": "Lookup_prev_snapshot",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "adf-ques",
							"p_directory": "source",
							"p_filename": "date.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "read_filenames",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_prev_snapshot",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_max_snapshot",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select file_name from raw_data where snapshot_date>''',activity('Lookup_prev_snapshot').output.value[0].snapshot,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_azure_sql",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": "raw_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "adf-ques",
							"p_directory": "source",
							"p_filename": "filenames.csv"
						}
					}
				]
			},
			{
				"name": "Lookup_max_snapshot",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(snapshot_date) as max_snapshot from raw_data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_sql",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": "raw_data"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "update_snapshot",
						"type": "DataFlowReference",
						"parameters": {
							"p_snapshot": {
								"value": "'@{variables('v_snapshot')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"source1": {
								"p_container": "adf-ques",
								"p_directory": "source",
								"p_filename": "date.csv"
							},
							"sink1": {
								"p_container": "adf-ques",
								"p_directory": "source",
								"p_filename": "date.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "read_filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_snapshot",
					"value": {
						"value": "@activity('Lookup_max_snapshot').output.value[0].max_snapshot",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_snapshot": {
				"type": "String"
			}
		},
		"annotations": []
	}
}